.background-image {
	position: fixed;
	top: -5%;
	left: -5%;
	right: 0;
	z-index: 1;

	display: block;

	background-image: url("buenos-aires.jpg");
	background-size: cover;
	width: 110%;
	height: 110%;
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

.logo {
    display: block;
    margin: 110px auto;
    width: 50%;
}
